# Создайте файл .env из копии этого файла и замените значения переменных вашими данными

#Путь до .json-файла с набором транзакций
PATH_TO_JSON=your_path_here

#Ваш API-ключ
API_KEY=your_api_key_here


