# Создайте файл .env из копии этого файла и замените значения переменных вашими данными

#Путь до .json-файла с набором транзакций
PATH_TO_JSON=your_path_here

#Ваш API-ключ
API_KEY=your_api_key_here

#Ваш путь до CSV-файла
PATH_TO_CSV=your_path_here

#Ваш путь до excel-файла
PATH_TO_EXCEL=your_path_here

#Путь, по которому будет создан новый json-файл
PATH_TO_TRANSACTIONS_JSON=your_path_here

